

body {
    background-color: #11263b;
}

#root {
    background-color: #11263b;
    height: auto;
}

.header {
    background-color: #11263b;
    width: auto;
    padding: 10px 0px 10px 0px;
}

p {
    font-size: large;
}

.td {
    padding: .0rem;
    vertical-align: none;
}

.truncate {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }